.dark-style {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    color: white;
    scrollbar-color: #333 #337ab7;
}

.dark-style .blocklySvg {
    background-color: #393939;
}

.dark-style ::-webkit-scrollbar {
    height: 16px;
    width: 16px;
}
.dark-style ::-webkit-scrollbar-track {
    background: #333;
}

.dark-style  ::-webkit-scrollbar-thumb {
    background-color: rgba(204, 204, 204, 1);
    border-radius: 6px;
    border: 3px solid #333;
}

.dark-style ::-webkit-scrollbar-corner {
    background-color: #333;
    border: 3px solid #393939;
}

.dark-style {
    background-color: #333;
}

html, body {
    min-width: 600px;
    width: 100%;
    height: 100%;
}

div.app {
    position: relative;
    width: 100%;
    height: 100%;
}

div.header {
    display: grid;
    grid-template-columns: 10px 40px 1fr 40px 40px 40px 10px;
    height: 30px;
    background-color: #337ab7;
} 

div.header > div.title {
     -webkit-app-region: drag;
}

div.win-btn {
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    transition: all .3s ease-in-out; 
}

div.win-btn:hover {
    background-color: #337aff;
    transition: all .3s ease-in-out; 
}

div.win-btn:active {
    background-color: #337ab7;
    transition: all .3s ease-in-out; 
}

.typedModalTypes ul{
    display: block;
    overflow-y: scroll;
    max-height: calc(100vh - 200px);
}

#blocklyDiv {
    border: 3px solid #337ab7;
}

.form-switch .form-check-input {
    background-image: url("../img/switch-dark.png");   
}

.form-switch .form-check-input:focus {
    background-image: url("../img/switch-dark.png");
    border-color: #333;
}

.form-switch .form-check-input:focus:checked {
    /* background-image: url("../img/switch-dark.png"); */
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    border-color: #fff;
}

.light-dark-switch:checked {
    background-color: #333;
    border-color: #fff;
}

.form-check-input:focus {
    /* border-color: #86b7fe; */
    outline: 0;
    box-shadow: none;
}

.btn,
.input-group-text {
    border-radius: 0;
}

.light-style .blocklyToolboxDiv {
    padding: 0;
    margin-top: 1px;
}

.dark-style .blocklyToolboxDiv {
    padding: 0;
    margin-top: 1px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

.dark-style .blocklyFlyout {
    margin-top: 2px;
    height: 99.5%;
}

.light-style .blocklyFlyout {
    height: 99.5%;
}

.dark-style .blocklyFlyoutBackground {
    fill: rgb(37, 37, 38);
    fill-opacity: .8;
}

.col {
    min-width: 0;
}

.form-select {
    border-radius: 0;
}